[2015-09-12 11:47] klpanagi opened #2 "Encrypt RAPP Platform Basic Authentication values -- hashlib"

[2015-09-22 07:28] #2 closed, assigned to nobody

[2015-12-02 09:39] athallas opened #4 "Gitter badge wrong link"
The Gitter badge in the master branch points to the wrong link: [link](https://gitter.im/trogdoro/xiki?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge)

Also it seems misplaced, probably due to erroneous merging of the pull request.

[2015-12-02 09:47] athallas commented on #4
Seems that the pull request has not been handled at all. I am reopening the pull request #3 to fix this issue.

[2015-12-02 17:13] alexge233 commented on #4
fixed

[2015-12-02 17:13] #4 closed

[2015-12-14 16:15] etsardou opened #7 "Face detection service enhancement"
The face_detection service should have one more parameter: A bool called "fast". If true it provides fast face detection suitable for tracking.

- [x] C++
- [x] JS
- [x] Python

This feature exists in the devel branch of rapp-platform

[2015-12-16 00:53] alexge233 commented on #7
Overloaded or different class?

[2015-12-16 05:02] etsardou commented on #7
Just the same service with one extra input parameter.

[2015-12-20 20:13] alexge233 opened #8 "Token-based authentication"
@klpanagi
Authentication (in C++) is hardcoded into qr_detection in [cpp/includes/cloud/qrDetector/qrDetector.hpp](https://github.com/rapp-project/rapp-api/blob/master/cpp/includes/cloud/qrDetector/qrDetector.hpp#L56).

If we need token-based authentication, it must be implemented across the API/Lanugages,
else this can be removed.

This has nothing to do with SSL/TLS https sockets which should be

[2015-12-20 20:24] alexge233 opened #9 "Escape JSON queries from single, double or other quotes in the JavaScript API"
@lpenteri from what I can tell, the JS API does not escape quotes, double or single or other characters that may create problems. Please Fix this.

[2015-12-20 21:07] alexge233 commented on #7
@etsardou Manos can you please provide the actual JSON params? [The Services Wiki](https://github.com/rapp-project/rapp-platform/wiki/RAPP-HOP-services) appears to have the old version.

[2015-12-21 09:03] klpanagi commented on #8
We previously discussed on enhancing security, by using token-based authentication.

The approach is for the per-robot-platform Core Agent to hold the Platform Authentication tokens. This approach requires the RAPP-API to request authentication tokens from the core-agent and use em either on initialization or on each Platform Service Call.

@etsardou should we consider this under an upcoming miles

[2015-12-21 09:32] klpanagi commented on #7
@alexge233  we updated the Wiki with the new face_detection, **fast** parameter entry ([wiki](https://github.com/rapp-project/rapp-platform/wiki/RAPP-HOP-services)).

[code]

- Declaration name: fast.
- Type: Boolean

Sorry for any inconvenience caused.

[2015-12-21 09:38] lpenteri commented on #7
I added the new feature to the face detector of the JS API but was unable to deploy the devel branch of the rapp-platform, where you said the enhanced web service lies, in order to test it. Is that expected (the devel branch is broken?) or it should be able to get installed and deployed and I missed something during the installation? What I did was to run the platform installation script rapp-plat

[2015-12-21 09:45] etsardou commented on #7
The devel branch includes the changes as you can see [here](https://github.com/rapp-project/rapp-platform/blob/devel/rapp_face_detection/src/face_detection.cpp#L48) and it is not broken as evident [here](https://travis-ci.org/rapp-project/rapp-platform/branches). Try to run the unit/functional and integration tests to make sure everything runs smoothly. In them you should spot a test regarding the

[2015-12-21 10:23] etsardou opened #10 "Create eMail related API"
- [x] C++
- [x] JS
- [x] Python

@athallas will post the specifications when they have been finalized.

[2015-12-21 10:24] etsardou opened #11 "Cognitive game API support"
- [x] C++
- [x] JS
- [x] Python

@akintsakis please post the new service's specifications (if they have been finalized).

[2015-12-21 10:26] etsardou opened #12 "Text to speech API support"
- [x] C++
- [x] JS
- [x] Python

[Info](https://github.com/rapp-project/rapp-platform/wiki/RAPP-Text-to-speech-using-Espeak-&-Mbrola#input--output)

[2015-12-21 10:27] etsardou opened #13 "Speech to text Google API support"
- [x] C++
- [x] JS
- [x] Python

[Info](https://github.com/rapp-project/rapp-platform/wiki/RAPP-Speech-Detection-using-Google-API)

[2015-12-21 10:28] etsardou opened #14 "Object recognition API support"
- [x] C++
- [x] JS
- [x] Python

Must wait for @maciek-slon to fully integrate the node.

[2015-12-21 10:29] etsardou opened #15 "Available services API support"
- [x] C++
- [x] JS
- [x] Python

[2015-12-21 10:30] etsardou commented on #11
These are ```cognitive_test_chooser``` and ```record_cognitive_test_performance```

[2015-12-30 11:33] alexge233 commented on #12
@etsardou what's this? documentation or wiki?

[2015-12-30 11:41] alexge233 commented on #11
@etsardou all related issues such as  #10, #13, #14, #15 and #11 (this issue) will be implemented in the next upcoming version (0.6)

[2015-12-30 16:33] etsardou commented on #12
This refers to the text-to-speech node. Info [here](https://github.com/rapp-project/rapp-platform/wiki/RAPP-Text-to-speech-using-Espeak-&-Mbrola) (or click the "info" above)

[2015-12-30 16:34] etsardou commented on #11
Yes, I have already added them all to the 0.6 milestone. This release is planned for the end of January - begin of February.

[2016-01-28 12:45] alexge233 commented on #8
I will freeze this for now, but I think we should use user tokens for identifying users on the platform.

[2016-01-28 12:45] #8 closed

[2016-01-28 12:47] alexge233 commented on #9
@lpenteri any update?

[2016-01-28 14:57] #15 closed

[2016-01-29 14:50] #7 closed

[2016-01-29 14:50] #13 closed

[2016-01-29 14:52] alexge233 commented on #12
Please see [issue #233 on rapp-platform ](https://github.com/rapp-project/rapp-platform/issues/233) regarding this. We can't add base64 for raw audio data, please change to multiform/part as per the RFC standard.

[2016-02-01 16:53] #9 closed

[2016-02-02 23:05] alexge233 commented on #11
I haven't added examples, but the api is implemented (but untested). Closing for now, will test soon.

[2016-02-02 23:05] #11 closed

[2016-02-02 23:06] alexge233 commented on #14
Is object recognition part of the `platform` now?
Last time I checked we were waiting on a merge?

[2016-02-03 07:17] etsardou commented on #14
No, not yet, we are still waiting.

[2016-03-13 18:28] alexge233 opened #16 "Python tests migration"
@klpanagi could you please migrate the Python tests under the API? AFAIK they are currently under the platform.

[2016-03-13 18:46] etsardou commented on #16
Actually that is not that easy since all the setup scripts and CI scripts have to change. I propose to revisit this in the next release (0.7).

[2016-03-13 18:49] alexge233 commented on #16
If this is an API test (unit test) it should be in there, if its a platform test, then let's move them all to the platform?

[2016-03-13 18:51] etsardou commented on #16
Didn't get you. What you mean by "python tests"? If you mean [these](https://github.com/rapp-project/rapp-platform/tree/master/rapp_testing_tools), they are integration tests, as they test the API, the web services and the ROS background nodes.

[2016-03-13 18:52] alexge233 commented on #16
I thought we had python unit tests, never mind them, nothing to move to the api for python.

[2016-03-13 18:52] #16 closed

[2016-03-15 15:12] maciek-slon opened #17 "asio_service_http not handling long response"
I've just created C++ example for speech_to_text service (see post_builder branch f78efef). Service is called properly on platform side, but on the API side there is a bug with handling long responses, sent in multipile TCP packets. Class asio_service_http treats every packet independently, which results in error:

[code]

when second part of data is retrieved. As a result for request to say "test

[2016-03-22 16:37] klpanagi commented on #12
Status update on JS API?
The text_to_speech RappCloud module exists [here](https://github.com/rapp-project/rapp-api/blob/ortelio/js/includes/cloud/text_to_speech.js).

[2016-03-22 16:41] klpanagi opened #18 "[python]: Reinitialize persistent connections when server closes them"
The core of the ServiceController must automatically identify closed persistent connections, from server, and reinitialize them.
[RFC-7230](http://tools.ietf.org/html/rfc7230#section-6.3)

[2016-03-23 12:15] lpenteri commented on #12
Yes it is implemented where you pointed, I just forgot to check the checkbox.

[2016-03-23 12:15] #12 closed

[2016-03-28 13:51] klpanagi opened #19 "[C++]: Use CMAKE_INSTALL_PREFIX var to assign installation paths"
Consider assigning installation paths using CMAKE_INSTALL_PREFIX argument to cmake to allow modifications through cmake's cli.

**Edit**
Consider this issue to be critical! It affects setup and installation of the rapp-robot-nao. Check related issue [here](https://github.com/rapp-project/rapp-robot-nao/issues/11)

[2016-03-28 14:31] maciek-slon commented on #19
I've created proper fixes and additions in CMake files, and I'm ready to apply them. But, as there are two active branches with C++ changes in the rapp-api (ortelio and devel), I don't know which one to use as a base for C++ code changes. I've asked Alex twice (19/03 and 22/03) which one to use, but got no answer, thus the patch is still waiting.

[2016-03-28 15:55] alexge233 commented on #17
I'm not following. What do you mean by "multiple TCP packets" there's no such thing in HTTP, are you referring to "chunked" transfers?

The error you're getting probably means that a header wasn't detected.

Where is the HTTP header being sent from the platform back to the API?
The current asio implementation will ignore data without a header.
The HTTP header you have posted does not have the `Tra

[2016-03-28 15:57] alexge233 commented on #19
@klpanagi I will pass a CLI parameter to be used as the install directory for the libraries, and another for the headers, which will default to `/usr/local/` if nothing is passed.

@maciek-slon Please create a new branch `wut` and apply your changes there. We will merge once we've finished working on ortelio.

[2016-03-28 16:09] maciek-slon commented on #17
It is not my service, but speech_detection_sphinx4. And, as far as I understand, HOP is responsible for chunking. Last part, which service developer is responsible of, is sending JSON response as a whole

[code]
(line 217, https://github.com/rapp-project/rapp-platform/blob/devel/rapp_web_services/services/speech_detection_sphinx4/svc.js)

[2016-03-28 16:11] maciek-slon commented on #19
Should we base on ortelio or devel? Which one is "better" C++ base?

[2016-03-28 16:19] alexge233 commented on #17
That is bizarre I tested it months ago with multiple files. My guess is @klpanagi has changed something since then. Regardless, this header response does not seem to be correct.

[2016-03-28 16:21] alexge233 commented on #19
I don't know who owns and works on devel, ortelio will have our latest code but is not stable and will be changing significantly very soon. I would suggest you either clone ortelio and expect to have changes after, or wait until we do the move from HTTP to JSON.

[2016-03-28 17:41] klpanagi commented on #17
Every Platform Web Service returns an **application/json** response as a part of the Platform's communication server specifications.

Though, that is not the issue you investigated there...

Check Platform's active branch. As we informed you a few days ago, the cpp-api works only for the **stable_api** branch of the RAPP-Platform.

If this error still occures, please report back

[2016-03-28 19:40] klpanagi commented on #19
@maciek-slon  I would suggest the following:

- Create a new branch having **api_stable** as parent
- Rebase to Ortelio to get the functionalities provided there.
- Continue developing under the newly created branch, lets say cpp/<feature>

[2016-03-30 09:51] maciek-slon commented on #19
Unfortunatelly, rebasing to ortelio creates A LOT of conflicts in cpp/hpp files.

[2016-04-15 13:59] klpanagi opened #20 "[python]: Force Service members to be of specific type"
Perform auto attribute check on:
- Request members
- Response members

[2016-04-20 16:05] alexge233 commented on #17
**UPDATE** I've seen this behavior recently whilst implementing TLS/SSL handlers:

it happens when the HTTP endpoint (server) uses `Transfer-Encoding: chunked` which is not  implemented and handled by the C++ API.

HOP/HTTP service **must provide** non-chunked responses (200) with a valid content length.
I am willing to bet this is the reason, and the solution is on the HOP-side, and not in the AP

[2016-04-21 13:31] maciek-slon commented on #17
Data in the first post is complete - there is nothing more received by the client.

[2016-04-23 15:03] alexge233 commented on #17
@maciek-slon I've replicated the issue.

The response in `asio_service_http` is complete, for example if you try:

[code]
Put this line after [line 208](https://github.com/rapp-project/rapp-api/blob/master/cpp/includes/service/asio_service_http/asio_service_http.hpp#L208).

Right after copying the response buffer, you will see the entire message.
I tested this with chunked response.

With non-chun

[2016-04-23 18:11] alexge233 commented on #17
@maciek-slon Bug fixed.
Please note that the WAV base64 encoded string appears to be invalid.
You can see the pushed changes in branch `ortelio` especially in class `asio_service_http.hpp`.
**However** bear in mind I'm still working on this branch, so it will change again.

*Also* note that **we do not process chunked** responses at the moment!

[2016-04-23 18:11] #17 closed

[2016-04-28 13:20] alexge233 commented on #19
Added feature and closing.
Can somebody please test the `-DOPEN_NAO=On` flag please?

[2016-04-28 13:20] #19 closed

[2016-05-02 15:43] alexge233 opened #21 "[cpp] assignment and copy constructor socket objects throw error: Operation canceled"
Re-using same objects (via pointers) throws a boost error:

[code]

This is because protected members such as `content_length_` and others are not reset.
Currently the only solution is to **not re-use** cloud objects, but to allocate new ones.

###FIX:
Manually implement an assignment or copy constructor which resets those fields.

[2016-05-12 15:57] maciek-slon commented on #19
There is a typo in CMakeLists for OPEN_NAO: Line 180 should be
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -std=gnu++11 -Wall -fPIC -static-libstdc++ -m32")
instead of
set(CMAKE_CXX_FLAGS ${CMAKE_CXX_FLAGS} "-std=gnu++11 -Wall -fPIC -static-libstdc++ -m32")

[2016-05-13 16:53] #14 closed

[2016-05-24 16:25] athallas opened #22 "Web services documentation typo"
weather web services have mgs instead of msg

[2016-05-24 16:42] etsardou opened #23 "Turn Python API documentation links to devel till the release"

[2016-05-24 16:44] etsardou opened #24 "Error in sample codes for Python documentation"
The sample is:

[code]

But the respective ROS service gets no input (```ontology_class=""```). If transformed to the one below it works:

[code]

[2016-05-25 06:10] klpanagi commented on #24
Cloud Messages has-a Request object:

[code]

So, if for example you want to set the ```ontology_class``` attribute of the Request object:

[code]

Wrongly written in the documentation. Patch applied. Closing this issue.

[2016-05-25 06:10] #24 closed

[2016-05-25 06:11] #22 closed

[2016-05-25 10:51] etsardou opened #25 "Empty response in Current Weather - Python API"
Request in ROS node:
[code]

Response in ROS node:
[code]

Response of Python API call:
[code]

[2016-05-25 10:52] etsardou commented on #25
Branch ```news_weather_fixes``` in platform

[2016-05-25 10:56] etsardou opened #26 "Text to speech should take as input the path to store the file"
https://github.com/rapp-project/rapp-api/blob/python/python/RappCloud/CloudMsgs/README.md#text-to-speech

The example is unclear. First make the call and then add the path in the request?

[2016-05-25 10:57] etsardou opened #27 "News reporter misses input parameters in example call"
Must add ```keywords``` or else error is returned.

[2016-05-25 12:08] etsardou commented on #23
It didn't fix it. Check all links to be valid @klpanagi

[2016-05-25 16:42] klpanagi commented on #26
Thank you for mentioning this @etsardou . This is actually a **not-working example**

Audio data are returned as part of the Response Object.
The `TextToSpeech.Response` class implements the below methods for the API users to be able to either convert the data to raw-data or store in a file respectively:

- `get_audio_raw()`
- `store_audio()`

So the example should be as below:

[code]

In a simil

[2016-05-26 07:42] klpanagi commented on #25
RAPP Platform Web Service issue. Resolved.
Closing this issue

[2016-05-26 07:42] #25 closed

[2016-05-26 08:13] klpanagi commented on #27
Updated

[2016-05-26 08:13] #27 closed

[2016-05-26 08:16] #23 closed

[2016-05-26 08:18] klpanagi commented on #26
Updated example in [README.md](https://github.com/rapp-project/rapp-api/blob/devel/python/RappCloud/CloudMsgs/README.md#text-to-speech)

[2016-05-26 08:18] #26 closed

[2016-05-26 11:25] etsardou opened #28 "Python API - Config file where the RAPP Platform IP was declared missing form devel branch"

[2016-05-26 11:45] athallas commented on #28
Additionally, when the ip address is replaced with a random, system just deadlocks and connection failure is not returned.

[2016-05-26 19:52] #21 closed

[2016-05-26 19:52] #10 closed

[2016-05-31 11:15] etsardou commented on #28
@klpanagi is this done? Where is the configuration file stored?

[2016-05-31 11:16] etsardou opened #29 "Wrap Python platform API calls under simpler calls"

[2016-05-31 11:49] etsardou opened #30 "Rename rapp-api repository to rapp-platform-api"

[2016-05-31 11:52] maciek-slon commented on #30
If this repo is intended to be only platform-api, shouldn't there be yet another repo with RAPP-objects, as many robot-api methods needs them (e.g. picture, face, path)?

[2016-05-31 11:56] etsardou commented on #30
Since the Robot API is now in the rapp-robot-api repository, this should contain only the Platform API. By RAPP-objects I guess you mean code that is common to both APIs? If yes, we could create another repository but of course this will make things more complicated. Also the documentation must specifically state what to do in case you want to build / install a repo (or we can simply create setup

[2016-05-31 12:09] maciek-slon commented on #30
Let's wait a while for other opinions, but for me this is a way to go, as we already decided to split repos. Setup scripts should be rather easy to create for those three repos.

[2016-05-31 12:35] etsardou commented on #28
Found it. Change ```rapp_platform_python_api``` folder to ```rapp_platform``` which already exists. Furthermore do we have to create the folder by hand or you have changed the setup scripts? Finally, a configuration file sample / template must exist somewhere.

[2016-06-01 00:12] klpanagi commented on #28
@athallas

You investigate this behavior because of the network configuration of the machine executing the calls. This is not an issue of the API implementation. TCP packets do not arrive at destination address (RAPP-Platform) thus no responses are ever received. You can explicitly tell to stop waiting for a response after a given number of seconds with the timeout parameter in `RappPlatformServic

[2016-06-01 07:35] etsardou opened #31 "Inconsistency in Python API documentation for Google Speech detection"
https://github.com/rapp-project/rapp-api/blob/devel/python/RappCloud/CloudMsgs/README.md#speech-recognition-google

In response ```sentences``` or ```alternatives```?

[2016-06-01 08:08] etsardou opened #32 "Weather reporter Python API question"
https://github.com/rapp-project/rapp-api/blob/devel/python/RappCloud/CloudMsgs/README.md#weather-reporter---current-weather

What is metric and why it is Int? @athallas

[2016-06-01 11:01] klpanagi commented on #31
Thanks for mentioning this @etsardou, the correct response key is `alternatives`

Updated README.md file in `python` branch

[2016-06-01 13:36] #31 closed

[2016-06-01 14:12] athallas commented on #32
Metric specifies the value units, i.e. Celsius/Fahrenheit etc. It is int because yweather required a boolean.

[2016-06-01 14:13] etsardou commented on #32
What is True and what False?

[2016-06-01 14:27] athallas commented on #32
True is metric(si) and false is us units.

[2016-06-01 15:29] klpanagi commented on #28
Directory change + default config file creation:  https://github.com/rapp-project/rapp-api/commit/7115cdd74c632e290b2b13ffb1c2d84618db7779

Copy default config file in proper directory: https://github.com/rapp-project/rapp-api/commit/7d890bacd391e91e3744ccb830f374729aaa4fee

Changes in **rapp-platform-scripts** repository, to install the module in normal mode. Required for the above to work proper

[2016-06-03 08:23] #32 closed

[2016-06-03 09:01] etsardou opened #33 "Add default input parameter values in redone Python API"

[2016-06-04 14:47] maciek-slon opened #34 "[cpp] Wrong includes install directory"
In branch `cpp`, CMakeLists.txt has wrong install target for headers. It should be:

[code]

[2016-06-04 15:57] #33 closed

[2016-06-04 15:58] #29 closed

[2016-06-06 13:33] athallas opened #35 "Add links in home README for the language specific READMEs"
Noone will be able to find this:

https://github.com/rapp-project/rapp-api/blob/master/python/RappCloud/CloudMsgs/README.md

[2016-06-06 13:37] etsardou commented on #28
Is this ready to be closed?

[2016-06-06 14:29] klpanagi commented on #28
Merged [pull-request](https://github.com/rapp-project/rapp-platform-scripts/pull/12) in rapp-platform-scripts repo.

Merged in python-platform-api `devel`

TravisCI builds [passed](https://travis-ci.org/rapp-project/rapp-platform/jobs/135227039#L2577)

Marking this issue as resolved.

[2016-06-06 14:29] #28 closed

[2016-06-07 22:48] klpanagi opened #36 "Update main README.md"
Update the table in [README.md](https://github.com/rapp-project/rapp-api/blob/documentation/README.md) on `documentation` branch for `js` and `cpp` API implementations.

[2016-06-08 07:32] dudekw opened #37 "[cpp] add plan_path_2d cloud API implementation"
Current plan_path_2d cloud API implementation is copy-paste of a speech API method. Proper plan_path_2d method implementation is required to the incoming release. Could you help me with the issue?

[2016-06-08 08:40] etsardou opened #38 "TextToSpeech Python API: No error returned if destination file is invalid (e.g. '')"

[2016-06-08 10:37] alexge233 commented on #37
Hi,

This is the only API call I haven't implemented yet, I need some kind of wrapper since the documentation was using ROS parameters.

[2016-06-08 11:16] maciek-slon commented on #37
Look at our branch, wut_devel, where all the necessary objects (pose, pose_stamped, point, path etc.) are created: https://github.com/rapp-project/rapp-api/tree/wut_devel/cpp/includes/objects

[2016-06-08 13:01] klpanagi commented on #38
Fix [here](https://github.com/rapp-project/rapp-api/blob/devel/python/RappCloud/Objects/File.py#L43)

[2016-06-08 13:28] klpanagi commented on #20
Investigate:

- [ctypes](https://docs.python.org/2/library/ctypes.html)
- [cython](http://docs.cython.org/index.html)

[2016-06-13 07:15] dudekw commented on #37
@alexge233 If you require any further information, let me know.

[2016-06-14 21:25] klpanagi commented on #20
A **datetype assertion** python decorator has been implemented: 928daac3d5b246a63d8f99543559ecd0e287b039

Use this decorator to assert datatype on function input arguments.

`CloudMsg.Request` attributes have to be implemented as properties
For example:

[code]

[2016-06-16 09:42] dudekw commented on #37
@alexge233 any updates?

[2016-06-16 13:40] alexge233 commented on #37
@dudekw earliest I can work on this is during this weekend, apologies.

[2016-06-16 13:46] athallas opened #39 "Error in python package"
RappCloud/ServiceController/Adapters.py", line 35, in <module>
ImportError: No module named packages.urllib3.poolmanager

[2016-06-16 15:32] #38 closed

[2016-06-17 07:50] dudekw commented on #37
Ok, thank you @alexge233

[2016-06-22 06:34] dudekw commented on #37
Sorry @alexge233 for being so impatient, but @klpanagi would like to test Hazard detection RApp and it depends on this service.

[2016-06-24 17:48] alexge233 commented on #37
Hi,

I'm afraid that I am on vacation and away until the 7th of July.
I've updated the code but haven't tested it; I don't have the latest platform, and I could really use an example (under `/examples`) to go with navigation.

Also, I've raised some issues regarding the JSON format with @klpanagi, especially concerning the keys used for `start_pose` and `end_pose`.

The C++ code *should* work, but

[2016-07-01 12:43] #39 closed

[2016-07-01 14:01] #36 closed

[2016-07-01 14:02] #18 closed

[2016-07-10 17:58] alexge233 opened #41 "[cpp] rapp::object::time has erroneous logic and usage"
@dudekw The implementation of `rapp::object::time` is dangerous and flawed:

1. it requires bot seconds and nanoseconds (no need, either should suffice)
2. it uses `int32_t`

I suggest it becomes a wrapper around either `std::crhono` or `boost::posix_time`
In the `test` directory you can see how I instantiate it:
https://github.com/rapp-project/rapp-api/blob/cpp/cpp/tests/serialise.cpp

Furthermor

[2016-07-10 18:01] alexge233 opened #42 "[cpp] rapp::object::header should be renamed"
@dudekw

I propose that `rapp::object::header` to be renamed to `rapp::object::meta` or similar.
Header implies TCP/IP and since we have similar usage, it could be confusing.

Furthermore, it is unclear what `seq` is, and what `frameid` is.
Please update documentation via Doxygen comments.

Also, is there a reason why all those objects are `struct` and not `class` ?

Please see latest `cpp` code b

[2016-07-10 18:02] alexge233 opened #43 "[cpp] rapp::object::point should be renamed"
@dudekw Same as with `header` this should probably be renamed to `coordinate` or `cartesian`.
Also, why is it a `struct`?

Please see latest `cpp` code before renaming it, and I will solve conflicts.

[2016-07-10 18:11] alexge233 commented on #37
@dudekw @klpanagi

Please note that this issue **cannot be closed or solved** for the following reasons:

1. parameters appear to require a `start` and `goal` pose_stamped.
It makes no sense to know beforehand future `pose_stamped` and especially the `time` or timestamp, or the quaternion. I would suggest that it is changed to accept a starting `pose_stamped` and a goal `coordinate` or `cartesian`

[2016-07-10 18:14] alexge233 commented on #34
@maciek-slon not a bug this is intended so that we only install the headers and nothing else.

[2016-07-10 18:14] #34 closed

[2016-07-10 18:22] alexge233 commented on #30
@etsardou there are shared classes (under `objects`) across robot and platform. Whilst I do see the point and agree, this will be confusing to say the least.
A better solution would be to add the robot api as extension into the rapp api, by merging them.

[2016-07-10 18:22] #30 closed

[2016-07-11 12:38] etsardou commented on #37
1. In my point of view, indeed the web service only needs the coordinates of the start and end pose (x,y,z, yaw ,pitch, roll) as well as the request timestamp, thus the pose_stamped structure is over-engineering.
Nevertheless I propose to implement this as is in order to proceed with the RApp evaluation (cause we are currently late) and restructure it later.

2. @dudekw can provide a working examp

[2016-07-11 15:20] klpanagi commented on #37
I agree with @etsardou that it is over-engineered to use the pose_stamped structure for this service.

Web service input arguments depends on the relevant ROS Service request message structure.
Maybe @dudekw can modify the ROS Service request message structure, as proposed by @etsardou, in the future, and i will apply the changes to the web service and rapp-platform-api respectively.

Keep in mind

[2016-07-11 15:26] alexge233 commented on #37
Hi,

Maybe I wasn't clear enough:

1. I have no way of knowing the **future** timestamp for the goal pose. Regardless of the over-engineering aspect (to which I also agree) the goal pose will contain either zero timestamp, or some future date. Is this acceptable, or will it create issues?

2. Theres some confusion over the JSON I'm sending and the one I'm receiving.
I will send a JSON which will c

[2016-07-11 15:30] etsardou commented on #37
About 1:

You were clear about the future timestamp, thats why I talked about overengineering on using the ROS structs.
Nevertheless I cannot see how this affects you since its the user (app) that provides the timestamp variable whereas you must just implement the value passing to the ROS service.

[2016-07-11 15:31] dudekw commented on #37
1. I agree, we should discuss it later.

2. Unfortunately I can provide working example of the ROS service test only. The web service was developed by @klpanagi, however [here](https://github.com/rapp-project/rapp-platform/blob/devel/rapp_web_services/services/path_planning_plan_path_2d/iface_obj.js#L32) you can find client request fields (am I correct @klpanagi?). If I understand rapp_platform we

[2016-07-11 15:35] alexge233 commented on #37
@etsardou it doesn't affect me, other than I will ignore empty or incorrect timestamps (in fact I will do no checks), just asking and making it clear to all parties.

@dudekw thanks for the reply. I will finalise the api, and write a functional example using what you've provided. I will notify you (and close the issue) once I do so, and then ask you to test it.

I am also guessing that I need to d

[2016-07-12 08:45] etsardou opened #44 "Update master branch for release"
- [ ] Merge C++ work
- [ ] Merge JS work (if needed)
- [ ] Update README.md file with the implementations
- [ ] @klpanagi Add important links in README.md such as:

- https://github.com/rapp-project/rapp-api/blob/master/python/README.md
- https://github.com/rapp-project/rapp-api/blob/master/python/RappCloud/README.md
- https://github.com/rapp-project/rapp-api/blob/master/python/RappCloud/CloudMsgs

[2016-07-12 08:46] etsardou opened #45 "Create C++ / JS API calls documentation"
Similar to this one: https://github.com/rapp-project/rapp-api/blob/master/python/RappCloud/README.md

[2016-07-13 17:43] alexge233 commented on #44
@etsardou @dudekw I have rejected the pull request; there are major conflicts, and also some classes must be refactored.

[2016-07-17 19:21] alexge233 commented on #37
Closing this, I've implemented the class but it is **untested** - somebody with the platform running please test it, and re-open if you find any issues.

Once verified its working, I will migrate the code from `handle_reply` into individual handlers of all `struct` involved, in a `load_from_json` function.

[2016-07-17 19:21] #37 closed

[2016-07-17 19:25] alexge233 opened #46 "[generic] path_upload_map question"
@klpanagi

Is the `path_upload_map` upload files or simply using string names?
I see a `png_file` param and a `yaml_file` param: is the first a PNG file or just the name of it?
Same with yaml file, is it a file or a file name?

A.

[2016-07-18 08:28] etsardou commented on #37
@alexge233 the RAPP Platform is launched in 155.207.19.229, so you can test the call's validity as well.

[2016-07-18 12:16] klpanagi commented on #46
Both `png_file` and `yaml_file` arguments are expected to be files. The combination of these files form a **map** that will be later used to perform path_planning on, by calling the `/path_planning_plan_path_2d` service

[doc-here](https://github.com/rapp-project/rapp-platform/tree/master/rapp_web_services/services#path-planning-upload-map)

[2016-07-18 13:46] alexge233 commented on #37
@etsardou this ip is either blocking me, or is down, I only get time-outs.

[2016-07-18 13:53] alexge233 commented on #46
is it OK if I expect an `std::string` in place of the yaml? (assuming a serialised file rather than a parsed object).

[2016-07-19 10:23] etsardou commented on #37
I have just tested it and its working. To be sure you can test it by executing [this](https://github.com/rapp-project/rapp-platform/blob/master/rapp_testing_tools/scripts/rapp_run_test.py). If this does not execure correctly please post the output.

Of course, make sure that you have declared the correct IP/port in the config file.

[2016-07-19 11:04] etsardou commented on #46
If you mean the C++ API to send a serialized file in the web service, no, since the web service and the python/JS API are already implemented this way.

If you mean for the user to provide your implemented C++ call a std::string (instead of a yaml), why is it a problem for the developer to provide the path of the yaml file? The two-files format (yaml & png) is the standard way in ROS to parse maps

[2016-07-19 15:47] alexge233 commented on #46
This is what I don't get: do I have to upload those files, or are they assumed already on the platform, and I simply have to state which one to use?

Am I sending parameters, or files? If the latter, then I need to serialise the PNG (done via `class picture`) and the YAML (which is in essence an `std::string` for my intents and purposes).

[2016-07-19 16:17] klpanagi commented on #46
The `path_planning_upload_map` web service has been developed in order to upload map files which will be later used to perform path-planning (e.g. `path_planning_plan_path_2d`).
This way, clients can (ONCE) upload a map and perform multiple `path_planning_plan_path_2d`  service calls.
The Web Service expects both `files` to be uploaded. Those files are stored on the Platform.

Both `yaml_file` and

[2016-07-23 16:41] alexge233 commented on #46
I am sorry but this is still making no sense to me.
You say:

But you have a `png_file` parameter. I am guessing this is the name of the **image file** being uploaded?

Same with the `yaml` you have a `yaml_file` parameter, which I am also guessing this is refering to the **yaml file** being uploaded?

If this is the case, then my constructor is:

`cpp
 path_upload_map(

[2016-07-23 16:47] etsardou commented on #46
If the ```path_upload_map``` is the API function the developer has to call, then he must not create ```rapp::object::picture``` objects. He just needs to give as input parameters the following:

[code]

Its the C++ API's job to take these files (specified by their path **only**), internally create any object necessary and make the call to the platform Web service.

I guess you have implemented fac

[2016-07-23 17:16] alexge233 commented on #46
@etsardou no I have done the exact opposite throughout the entire rapp api. In fact its the other way around, normally every API takes object params (e.g., STL, OpenCV, Boost) since those are libraries.
The responsibility of loading the files lies with the developer.

Have a look at the following:

1. face_detection: https://github.com/rapp-project/rapp-api/blob/cpp/cpp/includes/cloud/vision/face_

[2016-07-23 17:18] etsardou commented on #46
Then I see no point in giving file names at all. Just proceed with the files themselves.

[2016-07-23 17:20] alexge233 commented on #46
@etsardou thats what I thought too, hence why I kept asking 👍

[2016-07-24 16:11] alexge233 commented on #41
**UPDATE** the type `uint32_t` (e.g., `unsigned int`) is **not long enough** to hold UNIX epoch in nanoseconds!!!

Example using `now()` with uint32_t:
(seconds and nanoseconds)
[code]

Example using `now()` with uint32_t and uint64_t (aka `unsigned long long`)

[code]

For this reason I have reverted to using:

`std::chrono::system_clock::time_point`

as `class time` private member from which I c

[2016-07-24 17:35] #41 closed

[2016-07-24 17:35] #43 closed

[2016-07-24 17:35] alexge233 commented on #42
renamed to `pose_metadata`.

[2016-07-24 17:35] #42 closed

[2016-07-24 17:45] alexge233 commented on #46
Hi,

I've done some major refactoring:

1. renamed a class (`header` to `pose_metadata` since I use `header` in asio for TCP/IP).
2. broke down de-serialization from a JSON/Boost propetry tree, as struct/class constructors (*UNTESTED*)
3. changed `struct time` to work with `std::chrono` (feel free to remove member `sec`).

Can somebody please write a simple *test* for the navigation/path planning

[2016-07-24 17:45] #46 closed

[2016-07-25 08:37] maciek-slon commented on #41
I was away for some time and just noticed whole discussion. To clarify things with time struct:
- `seconds` holds whole seconds part of time point
- `nanoseconds` holds (or should hold) only the fractional part of whole seconds, thus this field is in range [0..1e9)

At least that is what ROS-related algorithms are expecting as an input data.

[2016-07-25 14:03] maciek-slon opened #47 "[cpp] API example face_detect not working"
I've tried to run example `face_detect` application from both `devel` and `cpp` branch. I have platform compiled today, from the setup scripts, on clean machine. When running python tests, web service shows this output on terminal:

[code]

But when running C++ example, output is a little bit different:

[code]

Output from the `face_detect` is:

[code]

And application is not finishing, it hangs

[2016-07-25 15:27] alexge233 commented on #47
We need a public platform on which we can test, I have no platform running atm so I can't test this.
From the looks of it, the JSON param isn't being sent, or isn't being parsed properly.

[2016-07-25 15:29] etsardou commented on #47
https://github.com/rapp-project/rapp-api/issues/37#issuecomment-233591379

[2016-07-25 15:32] alexge233 commented on #37
Still can't access it `ping 155.207.19.229` returns timeouts, as does `ssh`.
Do I need to be whitelisted or something?

[2016-07-25 15:34] etsardou commented on #37
Did you try it with the Python API as well? ssh wont work, its disabled.

If both C++ and Python APIs wont work then something is wrong with the server. @maciek-slon can you try calling a service in this IP as well?

[2016-07-25 15:36] alexge233 commented on #47
If the application hangs, then my guess is the connection is not closed properly.
Do you get a time-out at all?

Can you please print the entire output from the console, and add the following line
in `cpp/includes/cloud/asio_service_http/asio_service_http.cpp:23`

[code]

[2016-07-25 15:37] alexge233 commented on #37
No I haven't tried with python, the host seems unreachable from here, are you accessing it from outside your LAN/WAN ?

[2016-07-25 15:37] alexge233 commented on #41
Its a good thing you told me, I have to refactor the class, and subtract nanoseconds from seconds.

[2016-07-25 15:53] etsardou commented on #37
I have just tested it from home (out of the university) using the Python API (I just executed the ```rapp_run_test.py``` and I can access it. When you say time-out what do you mean? Can you post the output? Also the credentials in the ```.config/rapp_platform``` are correct?

[2016-07-25 16:01] maciek-slon commented on #47
I,ve waited for few (10 maybe?) seconds before pressing CTRL+C and there was no timeout.

I will do this tomorrow morning, even before morning coffee ;-)

[2016-07-25 16:02] alexge233 commented on #47
Well in my case `broken pipe` is the error due to the server closing the connection AFAIK.
You said this is a new platform install, have you tested it with Python and found it working?

[2016-07-25 16:04] etsardou commented on #47
PS. You can also try it locally using the latest Platform OVA: http://rapp-project.eu/wp-content/uploads/2016/07/rapp-platform-0.6.ova_.tar

[2016-07-25 16:05] alexge233 commented on #47
@etsardou my little laptop won't run the platform in a VM, I'll have to test with a desktop but because we're moving offices this week it will be hard.

[2016-07-25 16:12] alexge233 commented on #37
@etsardou time-out as in the server does not respond to me (simple pings).

*EDIT* I was wrong, its simply taking too long to respond, and I am guessing the connections are assumed dropped!

[code]

I did a traceroute as well, it seems that on average its more than 120sec to access the platform :-(

[2016-07-25 16:13] etsardou commented on #37
I think ping is disabled as well. Can you run the python script?

[2016-07-25 16:14] alexge233 commented on #37
no because it requires the platform.
I'm trying to solve the `broken pipe` error I get, which I think it has to do with the header.

[2016-07-25 16:16] etsardou commented on #37
You mean you have not cloned the platform in your PC? It does not require the platform to be running.

[2016-07-25 16:19] alexge233 commented on #37
ok, I'll give it a try then!
Does the token need to be valid at this point?

[2016-07-25 16:22] etsardou commented on #37
Of course. You can execute this to setup the token https://github.com/rapp-project/rapp-platform-scripts/blob/master/setup/13_authentication_setup.sh

[2016-07-25 16:24] alexge233 commented on #37
ok, this explains the `401` (invalid http header) which in reality translates to "Unauthorized access".
it does not however solve the `broken pipe` issue.

[2016-07-25 16:44] etsardou commented on #47
A general comment: The C++ API must be finished ASAP as we are later than late in the hazard detection application testing (which is developed in C++).

[2016-07-25 16:45] alexge233 commented on #47
it is complete, with the exception of bug fixes as they arise (such as `face_detection`). I'm refactoring `struct time` atm.

[2016-07-26 00:28] alexge233 commented on #47
Hi all,

Commit eb77c0067405f781b001c2a00d267724110272d2 has resolved *some* of the issues.
Due to changing the HTTP header, it was being created as a malformed header.
Also, if you don't use a *correct* authentication token, you will receive error 401, which although misleading, means "no access".
However, as of now, NONE of the C++ API calls seem to communicate data to the server setup by AUTH a

[2016-07-26 04:30] etsardou commented on #47
Actually these responses means that data are communicated.

For the ontology you have an error ```Error, empty ontology class```, meaning that this class does not exist in the ontology (which clearly is a bug since it must have returned "Not a valid ontology class" @akintsakis ). Try giving "Oven" (with capital O).

For the QR the request has happened (that's why you got a response with an error)

[2016-07-26 07:25] maciek-slon commented on #47
As you already managed to print requests made from C++, I've printed those made by python calls. Sample request made from python looks like this:

[code]

[2016-07-26 07:28] klpanagi commented on #47
@alexge233 ,

the way you POST data (parameters and files) is incorrect according to the HOP Server specifications.
Look [here](https://github.com/rapp-project/rapp-platform/tree/master/rapp_web_services/services#service-specifications---request-arguments-and-response-objects) for more information and examples of valid POST requests

[2016-07-26 08:25] klpanagi commented on #47
**POST application/x-www-urlencoded - JSON stringify data**:

[code]

[code]

[2016-07-26 13:31] alexge233 commented on #47
Now I am really confused, this code was working during the last hackathon, what changed in HOP now?

@klpanagi where is the error?

1. I've tried various combinations with the header lines, and I still get the error that the file was not uploaded.

2. I do not send `application/json` requests, only `multipart/form-data`

[2016-07-26 16:16] alexge233 commented on #47
@mszlenk  the POST field you've shown from Python is incorrect:

`POST http://localhost:9001/hop/face_detection`

How is this working with HOP?

[2016-07-26 16:24] alexge233 commented on #47
Here are the headers and POST from ontology calls:

[code]

The picture is valid, I have hexdumped to verify.

[2016-07-27 10:03] klpanagi commented on #47
Nothing has changed about the HOP Server

[code]

What is the **Content-Type** of this POST request? Format of the payload indicates that the data are in `application/json` format (`{"ontology_class":"Oven","recursive":"0"}`) which is not supported by the HOP Server.

Data have to be serialized to a JSON string as the value of the parameter `json` as described [here](https://github.com/rapp-projec

[2016-07-27 12:13] maciek-slon opened #49 "[js] API tests not working"
When running `npm test` in `js` subdirectory, following output is produced (all errors looks similar):

[code]

For this call, web service prints following output:

[code]

API branch: `devel`
Platform branch: `devel`

[2016-07-27 13:57] alexge233 commented on #47
1. There doesn't exist a `JSON.stringify` method in c++, so I have to roll out my own. Until then `cpp` branch is non-functional.

2. Why was the API reverted from strings to JSON, if hop doesn't support JSON?
We had a functional API and now we don't.

3. Where's the extra boundary?
One for the JSON, one for the BINARY and one to close off the POST, that is the RFC standard.
The description of [qr

[2016-07-27 17:47] klpanagi commented on #47
@alexge233 ,

we agreed on this specifications a few months back...

2.

We had a functional API and now we don't.

Both `js` ( @lpenteri   ) and `python` APIs are functional...
HOP doesn't support parsing `application/json` content type. This does not mean that we cannot send data in json format... We dont have access to the HOP Server implementation so we could not do any modifications like appl

[2016-07-27 17:58] alexge233 commented on #47
@klpanagi

In `qr_detection` (and similarly in all other calls) what I send is **both** a JSON **and** a binary.

The documentation you have for [qr_detection](https://github.com/rapp-project/rapp-platform/tree/master/rapp_web_services/services#qr-detection) states it takes as param:

[code]

That implies that you require the filename in a JSON.

Same with `face_detection` the documentation [state

[2016-07-27 18:02] klpanagi commented on #49
That is due to the fact that the `js` API uses `https` as the default protocol and the RAPP Platform is launched at `http`  ( [here?](https://github.com/rapp-project/rapp-api/blob/devel/js/includes/cloud/RAPPCloud.js#L11) )

**Note**: The configuration parameters regarding RAPP Platform host should be read from a configuration file, similar to the [python](https://github.com/rapp-project/rapp-api/

[2016-07-27 18:16] klpanagi commented on #47
The documentation states the Web Service input arguments. Thus in case of uploaing files the `{file: ''}` corresponds to the multipart/form-data boundary that is named `file` and you have it correct there.

[code]

The above indicates to the server that param `file` is a binary file and by also supplying `filename` parameter you force the server to use that value.

Yes please.

It will solve those

[2016-07-27 18:30] alexge233 commented on #47
@klpanagi please see updated/edited post above.

[2016-07-27 18:40] klpanagi commented on #47
I have tested both calls to the `ontology_subclasses_of` and `face_detection` from command-line using `curl` and no problems reported... Have a look at the examples i provided.

[2016-07-28 00:14] alexge233 commented on #47
@klpanagi thank you for all your help so far!

I've managed to make them all work, unfortunately there are still issues:

# Ontology

* have you have removed the `recursive` parameter? It works without it,
* boost does not conform 100% to JSON. it translates everything to strings.
* for example, when I add the `recursive` parameter, I get:

[code]

when I send this:

[code]

I can manually hack in

[2016-07-28 08:57] etsardou commented on #47
Are there comments missing?

[2016-07-28 10:05] klpanagi commented on #47
@alexge233 ,

About the unicode errors refer to https://github.com/rapp-project/rapp-api/issues/47#issuecomment-235672846

You must send a json.

[2016-07-28 13:40] maciek-slon commented on #49
Yup, after changing to `http` tests are running (almost) properly.

JS call ([code](https://github.com/rapp-project/rapp-api/blob/devel/js/test/cloud_test.js#L155))
[code]

Web service output:
[code]

It's probably error in web service implementation when there are no files to attach - it tries to remove first file in [callback](https://github.com/rapp-project/rapp-platform/blob/master/rapp_web_se

[2016-07-28 17:26] klpanagi commented on #49
This is indeed a bug in the web service implementation. Thank you for pointing this out @maciek-slon  :)

I am gonna prepare a master fix patch as soon as possible

[2016-07-29 11:03] alexge233 commented on #47
@klpanagi You have inconcistencies:

One JSON uses a *string* boolean:

1.
[code]

2.
And another uses a PDT in the JSON
[code]

Please avoid using PDT in JSON as I have no native support.
This means, please avoid using primitive datatypes, but rather cast them from strings, e.g. the first rather than the latter.

This has nothing to do with POST data.

Many thanks!

[2016-07-29 11:03] #47 closed

[2016-07-29 14:49] klpanagi commented on #47
I never referred to **string boolean** in a JSON...
All the examples use PDT in a JSON.
Again, we agreed on this specifications for data transfers using POST verb and both `js` and `python` API implementations use this approach with no problem at all.

We cannot support **only strings** in a JSON as both `js` and `python` APIs as long as the RAPP Platform Web Services have been implemented this wa

[2016-07-29 16:14] alexge233 commented on #47
Hi,

I've made changes to the boolean calls so that they use PDT, but I am telling you right now that the object structs created by WUT which I am now incorporating  into `0.6.0` **cannot use** json pdt.

For simple use-cases (bool, ints) I have removed the quotes from the final JSON string but JSON serialisation in boost/c++ saves everything as strings.

The `nsec`, `sec`, `point`, `quaternion`,

[2016-07-29 17:34] etsardou commented on #47
Since this is what we agreed upon, introduce the JSON library dependency in a future version.

[2016-07-29 17:37] etsardou commented on #47
Just to be clear, meanwhile do whatever is needed for all the remaining calls to be functional ASAP (e.g. the path planning calls which you mentioned above).

[2016-08-08 10:05] dudekw commented on #37
@alexge233  Is this issue resolved? I tried to compile the path_planning service example and I got some errors in `rapp-api/cpp/includes/cloud/navigation/path_planning/path_planning.hpp` file.

[2016-08-08 10:29] alexge233 commented on #37
@dudekw can you post the errors please?

[2016-08-08 10:56] dudekw commented on #37
after including:
[code]
and changing:
[code]
to:
[code]
after above changes, got following erorrs:

[code]

[2016-08-08 11:16] alexge233 commented on #37
@dudekw can you post your example here on Github, or submit it in branch `cpp` under `examples` ?
I think its only a matter of using the namespace (I forgot `rap::object::`) but I would like to test it myself.
Many thanks.

[2016-08-08 12:51] dudekw commented on #37
Following example should do the work:

[code]

[2016-08-08 13:44] alexge233 commented on #37
@dudekw  a few remarks:

1. you're constructing a `pose_metadata` using `std::chrono::nanoseconds`, but it takes a parameter `sequence`, `time` and `frameid`.
2. `rapp::object::time` takes only one parameter, not two.
3. there is no cloud call `path_planning`, theres only `plan_path_2d` and `path_upload_map`. My guess is you want the first, which also takes an additional parameter `algorithm`.
4.

[2016-08-08 18:03] dudekw commented on #37
@alexge233 Thank you very much! Sorry for untested example code, but I couldn't compile it before.

[2016-08-11 13:45] dudekw opened #52 "path_upload_map service does not save maps in the cloud"
Hi @alexge233, @klpanagi !
I tied to run the path_planner [example](https://github.com/rapp-project/rapp-api/blob/cpp-wut/cpp/examples/path_planner.cpp) and it failed. We've tested it with our cloud also. Python API call works well.

The map files are not being saved in the cloud.

Client log:
[code]
Cloud log:
[code]

[2016-08-11 14:03] alexge233 commented on #52
The `asio error: End of file` implies that the server hang up the connection abruptly.
I don't know why the server responds with no image file received.
I've checked the code and commited/pushed again, so make sure you pull first.
Can you `pull` then `make clean` and `make` from start?

The following lines which I've added in `includes/cloud/asio/asio_http/asio_http.cpp`

[code]
should print out b

[2016-08-12 08:21] dudekw commented on #52
Thank you!

[2016-08-12 08:21] #52 closed

[2016-08-12 08:42] dudekw opened #53 "path_planning example test fails"
Hi @alexge233, @klpanagi!

1) Path_planning [example](https://github.com/rapp-project/rapp-api/blob/cpp-wut/cpp/examples/path_planner.cpp) of rapp-api ends with error:
[code]

full client log concerning `path_planning` service:
[code]

2) I found a bug in the request also. Client requested:
__start__ orientation: 1 2 3 4
__goal__ orientation 5 6 7 8

, but the log above shows:

__start__ orientati

[2016-08-12 09:51] alexge233 commented on #53
@dudekw I haven't unit-tested the structs you've provided so be careful with them. Also I need to change the JSON library, so in version 0.7.0 towards which we're working on right now, will be very different from the current code, so again.

I've also added a fix to `struct quaternion` there was a small bug in the `treefy` method.

Regarding the third issue @klpanagi HOP/Platform should return `HT

[2016-08-17 16:50] dudekw commented on #53
@alexge233 We really need stable c++ API implementation of the path planning service. Many following tasks depends on it (e.g. Hazard Detection Rapp tests, so we could finish Deliverable with @klpanagi ).

The path_planning include file needs following fixes:

[code]
Unfortunately objects that are being sent to the cloud are type of string. The cloud requires some data fields  (e.g. robot poses, h

[2016-08-17 19:29] klpanagi commented on #53
@alexge233 , regarding https://github.com/rapp-project/rapp-api/issues/53#issuecomment-239406726, indeed the HOP Web Server should response with **HTTP 404** when requesting for non-existent Web Services (by uri) and it does not. Though this is a bug in the HOP Web Server implementation and should be reported [here](https://github.com/manuel-serrano/hop).

[2016-08-18 09:49] alexge233 commented on #53
@dudekw current implementation can only use JSON to strings due to boost limitations. We're working on version 0.7.0 which will use a header only library (rapidjson) to do proper JSON parsing. Unfortunately for 0.6.1 I cannot change the JSON since it is the closest version to "stable".
I'll make the patch you've suggested, but bear in mind I have no way to test those classes because (a) we don't h

[2016-08-18 09:56] maciek-slon commented on #53
@alexge233 Does it mean that it will not work since 0.7.0? You don't need the robot to test cloud services. You just have to call the service and see, whether it gives correct results (see the python tests for path planning services https://github.com/rapp-project/rapp-platform/blob/master/rapp_testing_tools/scripts/default_tests/path_planning_tests.py for examples).

[2016-08-18 10:02] alexge233 commented on #53
@dudekw not with JSON PDT it won't work until 0.7.0, I've already hacked into removing string quotes, but some of the structs you've uploaded using nested boost. You're welcome to remove boost and implement it using another library, but our effort now is on 0.7.0 which should be ready early September.

[2016-08-18 10:10] alexge233 commented on #53
@klpanagi Thanks, I've opened one [here](https://github.com/manuel-serrano/hop/issues/35)

[2016-08-18 10:59] lpenteri commented on #49
Sorry for taking so long to reply I was working on another project for some period and then was away on vacation. Indeed that is the reason behind the tests' failure. If you launch the platform configuring it to use https (I think you can do it changing the parameter [here](https://github.com/rapp-project/rapp-platform/blob/master/rapp_web_services/run.sh#L53)), they should work.
As for the readin

[2016-08-18 14:23] klpanagi commented on #53
@alexge233  HOP actually responds with an **HTTP 404 Error**

Try this:

[code]

**Response headers**:

[code]

Also the python API is able to catch this HTTP response error succesfully ([here](https://github.com/rapp-project/rapp-api/blob/master/python/RappCloud/ServiceController/ServiceControllerBase.py#L198))

[2016-08-18 14:31] alexge233 commented on #53
@klpanagi then the issue is with my handling of the response headers... Thanks.

[2016-08-18 15:39] maciek-slon commented on #53
I've hacked boost ptree and now it works with PDT. Now one have to explicitly state, that the value must be written with parentheses:

[code]

Also path planning and map uploading services has been fixed and now are working properly (maps are saved on the platform and returned path is parsed correctly).

See commit e6d0587a59b19105a for changed files.

[2016-08-18 15:50] alexge233 commented on #53
@maciek-slon you shouldn't have bothered, I'm in the processes of converting everything to use `rapidjson`. In any case, many thanks, use this for now so you can get your job done and I'll inform you on the transition to 0.7.0.

[2016-08-18 15:53] maciek-slon commented on #53
Early September is too late for us, so we've made it as it is, just like you said earlier this morning ;-)

[2016-08-18 16:56] #53 closed

[2016-08-18 16:57] alexge233 opened #54 "[cpp] rapp::object::time is using partial time deserialisation"
Current rapp::object::time deserialisation from JSON ignores seconds and only uses nanoseconds.

[2016-08-18 17:25] #54 closed

[2016-09-08 13:03] alexge233 opened #55 "[cpp] Example data for `plan_path_2d`"
Hi,

Can we please have a valid data example for the service call `plan_path_2d`?
We tried using arbitrary values and we didn't get an error but no response either.

@MariaRamos89 has committed d49882fa68ca3ea4151c29f5a5496a16e6693bb9 to branch `cpp_dev` , and tried using the [python example](https://github.com/rapp-project/rapp-api/tree/master/python/RappCloud/CloudMsgs#path-planning---plan-path-

[2016-09-08 14:09] etsardou commented on #55
I don't have a valid example but I'll try to answer the questions:
1,2. Yes, an error should be returned if no path can be produced. The reasons that may cause path planning to fail are 3: a) the robot pose to not be in unoccupied place (can be in occupied, unknown or out of bounds), b) the goal to not be in unoccupied place and c) no path can be created in unoccupied space. In all 3 situations yo

[2016-09-08 14:15] alexge233 commented on #55
@etsardou so regarding 3, the 0.02 resolution assigns 2cm per one pixel in that example?

Is there a RAPP or ROS manual on those algorithms and parameters, e.g., how do we generate a PNG for our office space and assign proper values?

Many thanks!

[2016-09-08 14:18] etsardou commented on #55
Yes, 0.02 is 2cm per pixel. In order to create a map you need a blueprint, either from an architectural design (where you have to estimate the resolution yourself) or by deploying a SLAM algorithm using a robot (where the map is created using a known resolution.

[2016-09-08 14:22] alexge233 commented on #55
So we have the actual dimensions (we measured them by tape), and suppose we also measure the desk and table sizes, we set the resolution per pixel and align occupancies correctly?

I am also guessing a SLAM like [gmapping](http://wiki.ros.org/gmapping) would automatically generate the PNG? In the case of NAO we can't do that due to not having lazer sensors?

[2016-09-08 14:27] etsardou commented on #55
Yes, all correct, you need a robot with a laser sensor.

[2016-09-08 14:28] alexge233 commented on #55
Great, many thanks, we'll write up some documentation on this.

[2016-09-08 14:28] dudekw commented on #55
@alexge233 @MariaRamos89  The service returns such information. The [planned_path](https://github.com/rapp-project/rapp-api/blob/cpp-wut/cpp/includes/objects/planned_path/planned_path.hpp) object consists following fields:

uint8_t `plan_found`;
std::string `planning_error`;
std::vector < rapp::object::pose_stamped >  `path`;

if plan_found == 1, than plan was found and you can find valid path in

[2016-09-08 14:33] dudekw commented on #55
@alexge233 @MariaRamos89 [here](https://github.com/rapp-project/rapp-platform/wiki/RAPP-Path-planner#prepare-new-map-manually) is a short tutorial on `Prepare new map manually` .

[2016-09-08 14:34] alexge233 commented on #55
@dudekw many thanks! I remembered you'd written something but couldn't find it.
Do you mind if we reuse that page for a tutorial?

[2016-09-08 14:40] dudekw commented on #55
@alexge233 feel free  reuse to any purposes. Let me know if you find something unclear.

[2016-09-17 16:30] #55 closed

[2016-10-17 13:25] alexge233 opened #56 "[c++] Missing geolcoation JSON field"
There appears to be missing a `region` entry from the geolocation cloud class.

[2016-10-19 10:22] MariaRamos89 commented on #56
Fixed

[2016-10-19 10:22] #56 closed

[2016-10-28 12:28] #49 closed

[2016-10-28 12:29] lpenteri commented on #45
https://github.com/rapp-project/rapp-api/tree/js/js/includes

[2016-10-28 12:29] #45 closed

[2016-11-20 18:52] klpanagi commented on #44
Proper README.md links exist on branch **devel**.

[2016-11-21 16:33] alexge233 commented on #44
@etsardou and @klpanagi I've updated master with `cpp` branch, and merged `cpp_dev` on `devel`.
However, I personally think that master should have the `cpp_dev` / `devel` code since it has been extensively tested with unit tests and stress tests. Let me know if you want me to proceed with that.

[2016-11-21 18:27] klpanagi commented on #44
@alexge233, I really cannot read the git tree anymore...

You have made a direct merge to **master** (even a direct commit to master) and the tree has been broken. Even **devel** branch holds a direct commit!

**devel** branch holds both **js** and **python** development work and should be the one to merge into **master**.

If i understand correctly, **devel** **CANNOT** be merged to **master** be

[2016-11-21 18:38] alexge233 commented on #44
direct commit was a direct edit of README from github.
devel branch has had cpp_dev commited because I'm removing it tomorrow.
Only file in conflict was README.md
Any conflict in cpp implementation is solved by accepting devel/cpp_dev and ignoring master (if we are to move to 0.7.0)

[2016-12-13 18:26] alexge233 opened #57 "add asio timer to c++ 0.7.1"
class `asio_timer` is commented in all code, uncomment and test.

[2017-01-26 13:24] #57 closed, assigned to alexge233

[2017-01-31 13:55] lpenteri opened #58 "After merge of the cpp_merge branch into cpp branch, the API doesn't build"
After applying the merge that I mention in the tittle, I tried to build the API along with the tests:
cmake .. -DBUILD_TESTS=ON
make

Make failed with the following output:
`
Scanning dependencies of target lrapp
[  9%] Building CXX object CMakeFiles/lrapp.dir/includes/config/config.cpp.o
[ 36%] Building CXX object CMakeFiles/lrapp.dir/includes/cloud/asio/asio_http/asio_http.cpp.o
[ 18%] Building

[2017-01-31 14:15] alexge233 commented on #58
@etsardou WUT will have to update the names of the classes and objects. After that this should build.

[2017-01-31 16:29] maciek-slon commented on #58
Should be ok now

[2017-02-06 18:06] #58 closed, assigned to maciek-slon, alexge233

[2017-02-06 18:07] alexge233 commented on #44
C++ is merged and clear.